body {
  font-family: sans-serif;
  background: url('../background.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}
.version {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #ccc;
}
.section { display: none; }
.section.active { display: block; }
.card {
  background: white;
  color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
}
.bulk-copy {
  margin: 20px 0;
}